@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font: 'Murecho', sans-serif;

$primary: #262a41;
$secondary: #3e4156;
$purple: #894fc6;
$aqua: #38d9d8;
$peach_puff: #f8ccbc;
$linen: #fdeee8;

$breakpoint-tablet: 768px;
$breakpoint-phone: 390px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font;
  background-color: $primary;
  padding: 5px;
}
.main {
  display: flex;
  height: 100vh;
  justify-content: center;

  // nested .main
}

// first section
.first {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3em 9em;

  color: white;
  letter-spacing: 0.75px;
}
.grid-card {
  display: grid;
  grid-template-columns: 90px 90px 90px;
  gap: 50px 0;
  justify-content: space-between;
}
.group-first-title {
  h2 {
    font-weight: 500;
    letter-spacing: 1.3px;
    font-size: 32px;
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    line-height: 16px;
    color: $secondary;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
}

.group-project {
  h3 {
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
}
.project-counter {
  color: $secondary;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

// second section
.second {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2em 4em;
  border-radius: 24px;
  position: relative;

  .add-btn {
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 22px;
    line-height: 35px;
    font-weight: 600;
    color: white;
    background-color: #894fc6;
    cursor: pointer;
  }
}
.title-group {
  flex-grow: 1;

  h2 {
    color: $primary;
    font-weight: 600;
  }
  p {
    color: $secondary;
    font-size: 16px;
    font-weight: 400;
  }
}
.list-group {
  flex-grow: 4;
}
.list-up-group {
  flex-grow: 3;
}

.list-group-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  h4 {
    color: $primary;
    font-weight: 600;
  }
  div {
    font-weight: 800;
  }
}

.card-group {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // nested
  
}

hr {
  margin: 20px 0;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.block {
  display: block;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.modal-content-title {
  display: flex;
  justify-content: space-between;

  h2 {
    color: $primary;
  }
}
.modal-form {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  
  input {
    width: 80%;
    height: 30px;
    outline: none;
    font-size: 18px;
    line-height: 30px;
  }
  button {
    width: 75px;
    border: none;
    outline: none;
    border-radius: 8px;
    height: 30px;
    background-color: $purple;
    color: white;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      background-color: #7b47b3;
    }
  }
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


@media (max-width: $breakpoint-tablet) {
  .first {
    padding: 3em 2em;
  }
  .second {
    padding: 2em 2em;
  }
  hr {
    margin: 10px 0;
  }
}
@media (max-width: $breakpoint-phone) {
  .main {
    flex-direction: column;
    height: min-content;
  }
  .first {
    width: 100%;
  }
  .second {
    width: 100%;
  }
}