@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100;200;300;400;500;600;700;800;900&display=swap');
$font: 'Murecho', sans-serif;

$primary: #262a41;
$secondary: #3e4156;
$purple: #894fc6;
$aqua: #38d9d8;
$peach_puff: #f8ccbc;
$linen: #fdeee8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $font;
  background-color: $primary;
  padding: 5px;
}
.main {
  display: flex;
  height: 100vh;
  justify-content: center;

  // nested .main
}

// first section
.first {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 9em;

  color: white;
  letter-spacing: .75px;
}
.grid-card {
  display: grid;
  grid-template-columns: 90px 90px 90px;
  gap: 50px 0;
  justify-content: space-between;
}
.group-first-title {
  h2 {
    font-weight: 500;
    letter-spacing: 1.3px;
    font-size: 32px;
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    line-height: 16px;
    color: $secondary;
    font-weight: 600;
    letter-spacing: .5px;
  }
}

.group-project {
  h3 {
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
}
.project-counter {
  color: $secondary;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

// second section
.second {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 4em;
  border-radius: 24px;
}

.list-group-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card-group {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // nested
  .card {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
