@use 'main';

.grid-card {
  .card {
    width: 90px;
    height: 90px;
    border-radius: 14px;
    padding: 5px;
    cursor: pointer;

    &:hover {
      border: 1px solid main.$aqua;
    }

    .content {
      background-color: white;
      border-radius: 14px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
  }
  .active {
    border: 1px solid main.$aqua;
  }
}
